extends ../layout

block content
  h1= user.username
  ul
    - for(let drip of drips)
      li
        strong= drip.title
        a(href="/user/#{user.username}/drip/#{drip._id}") ir
  form(method="post", action="/drip")
    input(type="hidden", name="member" value="#{user._id}")
    p
      label(for="title")
      input(type="text", name="title")
    p
      label(for="summary")
      input(type="text", name="summary")
    p
      input(type="submit", value="Crear Drip")
